:root {
    --formWidth: 280px;
}

body {
    /* background-color: #292626; */
    font-family: 'Sen', sans-serif;
    /* color: #eeeeee; */
}

#align {
    display: block;
    margin: 5% auto;
    width: var(--formWidth);
}

form {
    display: block;
    width: var(--formWidth);
    font-weight: 600;
}

.form-title {
    margin-bottom: 2em;
}

label {
    font-size: 12px;
    font-weight: 800;
    letter-spacing: 1px;
}

input, select, textarea {
    /* background-color: #4a4646; */
    border: 1px solid #4a4646;
    border-bottom: 2px solid #4a4646;
    border-radius: 3px;
    width: 100%;
    padding: 13px 10px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 600;
    /* color: #ffffff; */
}

input[type=date], input[type=text], input[type=password], textarea {
    width: calc(var(--formWidth) - 22px) !important;
}

input:focus {
    border-bottom: 2px solid #ffffff;
    transition: all 0.2s ease-in;
}

#login-page-errors {
    margin-bottom: .6em;
}

.error {
    color: #cc0000;
    font-size: small;
}

.hidden {
    display: none;
}