/* -------------------------------------------------------------------------- */
/*                                   GENERAL                                  */
/* -------------------------------------------------------------------------- */
@import './form.css';

:root {
    --selected: #1F92F2;
    --selectedText: #fff;
    --current: #333;
    --currentText: #fff;
    --numberWidth: 20px;
    --controllerHeight: 50px;
    --info: #1F92F2;
    --warn: #FFC107;
    --error: #FF5252;
    --success: #4CAF50;
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.page {
    display: none;
    transition: .2s opacity;
}

.text-center {
    text-align: center;
}


/* -------------------------------------------------------------------------- */
/*                                  CALENDAR                                  */
/* -------------------------------------------------------------------------- */
.calendar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.calendar .item-day {
    /* display: inline-block; */
    width: calc(100% / 7);
    height: calc((100vh - var(--controllerHeight)) / 6);
    max-height: calc(100vh / 6);
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.controller {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 1em;
    height: var(--controllerHeight);
}

.calendar .item-day .selected, .calendar .item-day .current, .calendar .item-day .number {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: .5em auto;
    padding: .2em;
    width: var(--numberWidth);
    height: var(--numberWidth);
    border-radius: 100px;
}

.calendar .item-day .selected {
    color: var(--selectedText);
    background: var(--selected);
}

.calendar .item-day .current {
    color: var(--currentText);
    background: var(--current);
}

.calendar .item-day .event {
    background: coral;
    max-height: 20px;
    padding: .2em .6em;
    margin: .2em;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 4px;
    color: #fff;
    font-size: .7em;
    text-align: left;
}


/* -------------------------------------------------------------------------- */
/*                                    ICONS                                   */
/* -------------------------------------------------------------------------- */
.icon {
    background-size: contain !important;
    width: 40px;
    height: 40px;
}

.icon.chevron-left {
    background: url('../img/chevron_left.png') no-repeat center center;
}

.icon.chevron-right {
    background: url('../img/chevron_right.png') no-repeat center center;
}

.icon.delete {
    background: url('../img/delete.png') no-repeat center center;
}

.icon.xs {
    width: 18px;
    height: 18px;
}

.icon.md {
    width: 24px;
    height: 24px;
}

/* -------------------------------------------------------------------------- */
/*                                   BUTTONS                                  */
/* -------------------------------------------------------------------------- */
.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: .6em;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    box-shadow: 1px 1px 2px #aaa;
}

.btn-info {
    background: var(--info);
}

.btn-warn {
    background: var(--warn);
}

.btn-error {
    background: var(--error);
}

.btn-success {
    background: var(--success);
}

.fix-width {
    width: 120px;
}